body {
    background-color: antiquewhite;
}

#board {
    position: absolute;
    z-index: -1;
    /* 500x475 px  +- % */
    width: 500px;
    height: 475px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:antiquewhite;
}

#board-game .moving-piece {
    transform: translate(-5px, -1px) scale(0.15);

    position: absolute;
    z-index: 2;

    fill:#FAEBD7;
    stroke:#700000;
    stroke-width: 2px;
}
#board-game .board-piece {
    transform: translate(-5px, -1px) scale(0.15);

    fill: #ff0000; 
    stroke: #700000;
    stroke-width: 2px;
}

#board-game #edge {
    stroke-width: 1.5px;
}

#board-game .letter {
    transform: translate(-5px, -1px) scale(0.15);

    fill: #ffffff; 
    stroke: #700000;
    stroke-width: 2px;
}
#board-game .board-hole{
    transform: translate(-5px, -1px) scale(0.15);

    fill: #503030;
    stroke: #700000;
    stroke-width: 1px;
}


#board-game .marble {
    transform: translate(-5px, -1px) scale(0.15);

    fill: url(#marbleGradient);
    stroke:#700000;
    stroke-width: 2px;
}


#board-game .paths {
    transform: translate(-5px, -1px) scale(0.15);

    fill: none;
}

#board-background{
    transform: translate(-5px, -1px) scale(0.15);

    fill:#bc0000;
    stroke:#700000;
    stroke-width: 2px;
}

#trigger {
    fill: #FAEBD7;
    stroke: #700000;
    stroke-width: 0.5px;
    cursor: pointer;
    transition: all 0.1s ease;
}
#trigger-pusher {
    transition: transform 0.1s ease;
    transform-origin: center;
    transform-box: fill-box;
}
#pusher {
    fill: #FAEBD7;
    stroke: #700000;
    stroke-width: 0.5px;
    cursor: pointer;
    transition: all 0.1s ease;
}

#pusher-trigger {
    transition: transform 0.1s ease;
    transform-origin: center;
    transform-box: fill-box;
}



/* Menu & rules & design*/
#menu-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center; 
    align-items: center;     
    z-index: 1000;
    background: transparent; 
}

#menu-box {
  background: rgba(250, 235, 215, 0.95);
  border-radius: 20px;
  padding: 40px;
  width: 400px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#menu-box h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: black;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.3); 
}

#menu-box button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    background-color: #fe9000;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s ease;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.3); 
}

#menu-box button:hover {
    background-color: #9f6012;
}

/* #rules-overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content:center;
	align-items:center;
	z-index:1000;
}  */

#rules{
	background : rgba(250, 235, 215,0.95);
	padding: 30px;
	border-radius: 15px;
	text-align: center;
	max-width: 400px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
	margin: 50px auto; 
} 

#rules button{
	display: block;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  background-color: #fe9000;
  color: black;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3); 
  transition: color 0.3s ease;    
}

#rules button:hover {
  background-color: #9f6012;
}

#rules h1 {
  margin-bottom: 20px;
  font-size: 2em;
  color: black;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.3); 
  transition: color 0.3s ease;    
}

#rules p{
	color: black;
	font-size: 18px;         
  font-family: Arial, sans-serif; 
  line-height: 1.6;         /* spațiu între rânduri */
  text-align: justify;      /* aliniază textul pe ambele margini */
  margin: 10px 0;           /* spațiu exterior sus și jos */
  padding: 10px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.3); 
  transition: color 0.3s ease;    
}

#rules {
  display: none;
}

#pauseBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;             
  height: 50px;
  background-color: #FE9000; 
  border: none;
  border-radius: 10px;      
  cursor: pointer;
  display: flex;
  justify-content: space-around; /* spațiu între cele două linii */
  align-items: center;
  padding: 0 10px;
  z-index: 1000;
	transition: all 0.3s ease;
}

/* Două linii verticale albe */
#pauseBtn span {
  display: block;
  width: 8px;          /* grosimea liniei */
  height: 70%;         /* lungimea liniei în interiorul butonului */
  background-color: white;
  border-radius: 2px;  /* linii ușor rotunjite */
	transition: all 0.3s ease;
}

#pauseBtn:hover {
  background-color: #9f6012; /* portocaliu mai deschis */
  transform: scale(1.1);     /* butonul crește ușor */
}







