body {
    background-color: antiquewhite;
}
#board {
    position: absolute;
    z-index: -1;
    /* 500x475 px  +- % */
    width: 550px;
    height: 522.5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:antiquewhite;
}

#board-game .moving-piece {
    transform: translate(13.5px, 15px) scale(0.15);

    position: absolute;
    z-index: 2;

    fill:#FAEBD7;
    stroke:#700000;
    stroke-width: 2px;
}
#board-game .board-piece {
    transform: translate(13.5px, 15px) scale(0.15);

    fill: #ff0000; 
    stroke: #700000;
    stroke-width: 2px;
}
#board-game #edge {
    stroke-width: 1.5px;
}

#board-game .letter {
    transform: translate(13.5px, 15px) scale(0.15);

    fill: #ffffff; 
    stroke: #700000;
    stroke-width: 2px;
}
#board-game .board-hole{
    transform: translate(13.5px, 15px) scale(0.15);

    fill: #503030;
    stroke: #700000;
    stroke-width: 1px;
}
#board-background{
    transform: translate(13.5px, 15px) scale(0.15);

    fill:#bc0000;
    stroke:#700000;
    stroke-width: 2px;
}

#trigger {
    fill: #FAEBD7;
    stroke: #700000;
    stroke-width: 0.5px;
    cursor: pointer;
    transition: all 0.1s ease;
}
#trigger-pusher {
    transition: transform 0.1s ease;
    transform-origin: center;
    transform-box: fill-box;
}
#pusher {
    #trigger {
    fill: #FAEBD7;
    stroke: #700000;
    stroke-width: 0.5px;
    cursor: pointer;
    transition: all 0.1s ease;
}
}
#pusher-trigger {
    transition: transform 0.1s ease;
    transform-origin: center;
    transform-box: fill-box;
}

/* --- Meniul de start --- */
#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* deasupra tablei de joc */
}

#menu-box {
  background: rgba(0, 0, 0, 0.95);
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#menu-box h1 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #ffffff;
}

#menu-box button {
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#menu-box button:hover {
  background-color: #ff00005f;
}